@import './base.css';

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

h1, 
h2, 
h3,
h4,
h5 {
  font-family: 'Gudea', sans-serif;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
}